include ../mixins/scripts

div(class="#{metric}-container")
  canvas.chart(id="#{jobName}-#{metric}-chart")
  block additionalData
  +onDocumentReady
    | var chart = !{JSON.stringify(chart)};
    | var container = $('##{jobName}-#{metric}-chart');
    block chartCustomization
    | new Chart(container, chart);
