include ../mixins/scripts

canvas.chart(id="#{jobName}-#{metric}-chart",class="#{metric}")
block additionalData
+onDocumentReady
  | var chart = !{JSON.stringify(chart)};
  block chartCustomization
  | new Chart($('##{jobName}-#{metric}-chart'), chart);
