extends _page

mixin millisecsToTimeString(millis)
  - var base = Math.floor(Math.abs(millis) / 1000);
  - var seconds = base % 60;
  - var minutes = Math.floor(base / 60) % 60;
  | #{minutes}m #{('00' + seconds).slice(-2)}s

mixin decimal(number)
  | #{Number(number).toFixed(2)}

block content
  section#average-build-times
    table
      tr
        th(colspan=2) Average Build Time
        th
      tr
        td All
        td
          +millisecsToTimeString(buildTimeAverages.overall)
        td(rowspan=3,class="#{buildTimeAverages.earliest >= buildTimeAverages.latest ? 'gain' : 'loss'}")
          +millisecsToTimeString(buildTimeAverages.earliest - buildTimeAverages.latest)
      tr
        td Earliest
        td
          +millisecsToTimeString(buildTimeAverages.earliest)
      tr
        td Latest
        td
          +millisecsToTimeString(buildTimeAverages.latest)

  section#average-skipped-tests
    table
      tr
        th(colspan=2) Average Skipped Tests
        th
      tr
        td All
        td
          +decimal(testResultAverages.skipped.overall)
        td(rowspan=3,class="#{testResultAverages.skipped.earliest >= testResultAverages.skipped.latest ? 'gain' : 'loss'}")
          +decimal(testResultAverages.skipped.earliest - testResultAverages.skipped.latest)
      tr
        td Earliest
        td
          +decimal(testResultAverages.skipped.earliest)
      tr
        td Latest
        td
          +decimal(testResultAverages.skipped.latest)

  section#average-failed-tests
    table
      tr
        th(colspan=2) Average Failed Tests
        th
      tr
        td All
        td
          +decimal(testResultAverages.failed.overall)
        td(rowspan=3,class="#{testResultAverages.failed.earliest >= testResultAverages.failed.latest ? 'gain' : 'loss'}")
          +decimal(testResultAverages.failed.earliest - testResultAverages.failed.latest)
      tr
        td Earliest
        td
          +decimal(testResultAverages.failed.earliest)
      tr
        td Latest
        td
          +decimal(testResultAverages.failed.latest)
