include ../../mixins/scripts
.page-main
  header
    h1
      a#previous-job(href="#")
        i.fa.fa-chevron-left
      span #{name}
      a#next-job(href="#")
        i.fa.fa-chevron-right

  nav.pages
    ul
      li
        a(href="#!#{name}", class="#{page === 'overview' ? 'active' : ''}") Overview
      li
        a(href="#!#{name}/builds",class="#{page === 'builds' ? 'active' : ''}") Build times
      li
        a(href="#!#{name}/tests",class="#{page === 'tests' ? 'active' : ''}") Test results

  block content
.page-footer

+onDocumentReady
  include ../scripts/updateNavigationLinks.js
  include ../scripts/initializeContentScrollbar.js
  | updateNavigationLinks('#{name}');
  | initializeContentScrollbar();
